<li>
    <% if(locals.user && comment.user.id == locals.user._id) { %>
        <span>
            <a href="/comments/delete/<%= comment.id %>">X</a>
        </span>
    <% } %>
    <span><%= comment.content %></span>
    <br>
    <small>
        <%=  comment.user.name %>
    </small>
</li>